* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url("images/Pacific_Ocean_At_Acapulco_1_2304x1536.jpg");
    background-position:center top;
    background-repeat: no-repeat;

    font-family: Verdana, Arial;
    color: #2f3424;
}

.links {
    position: absolute;
    left: 8em;
    top: 4em;
}

.links a {
    font-size: 1.2em;
    text-decoration: none;
    color: #bbc3a7;
    color: #efd284;
}

.links a:link {

}

.links a:hover {

}

.links ul {
    list-style-type: none;
}

#main_text {
    margin-left: 23em;
    margin-top: 4.2em;
    margin-right: 8%;
    padding: 0.6em;
    background-color: white;
    opacity: 0.55;
}

#main_text a {
    text-decoration: none;
}

#main_text ul {
    list-style-type: none;
}
